body {
  margin: 0;
  padding: 0;
  background-color: ghostwhite;
}

#root {
  height: 100%;
}

.ui.segment.wrapper {
  border: 0;
}

.menu {
  background-color: ghostwhite;
  width: 100%;
  height: 100%;
}

.ui.segment.loadview {
  padding: 10%;
  margin: 0;
  width: 100%;
  height: 100%;
}

.ui.huge.loader.mainloader {
  margin-bottom: 20px;
}

.logview {
  height: auto;
  padding: 5px;
  max-height: 100%;
  border-bottom: 40px solid white;
  overflow: auto;
  word-break: normal !important;
  word-wrap: break-word !important;
  white-space: pre-wrap !important;
}

.pushable > .pusher {
  max-height: 100%;
  overflow-y: scroll;
}